html {
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
}

#container {
	width: 99%;
	margin: 0 auto;
	text-align: center;
	margin-top: 10%;
}

button {
	width: 70%;
	max-width: 200px;
	height: 20%;
	max-height: 150px;
	background-color: #ccc;
	font-size: 2em;
	margin-top: 5%;

}